/* Web View Section */
.web-view {
    text-align: center;
    margin: 20px 0;
}

.webview {
    width: 100%;
    height: 350px; /* Adjust the iframe height */
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Styling the link in the dashboard */
.web-view-link a {
    color: #4a90e2;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.web-view-link a:hover {
    background-color: #357ab7;
    color: white;
}
